html, body {
    display: flex;
    flex-direction: column;
}

.navbar-height {
    height: 80px;
}

/* ::placeholder { 
    color: white !important;; 
    opacity: 1;
  }

   :-ms-input-placeholder { 
    color: white !important;
  }
  
  ::-ms-input-placeholder { 
    color: white !important;
  } */

a {
    color: #84b3ff;
}

a:hover{
    color: #84b3ff;
}

.center {
    margin: auto;
    width: 40%;
    padding: 10px;
}

.breadcrumb a{
    color:#28242c
}


.scrollcontainer {
	cursor: grab;
	overflow: auto;
}

#imglogo {
    height:50px;
    width: 50px;
}

#imgNome{
    height: 19px;
    position: relative;
    /* bottom: 3px; */
}

#form1Search{
    /* margin-left: 140px;
    height: 40px;
    width: 800px; */
    box-sizing: border-box;
    position: absolute;
    margin-left: 90px;
    margin-top: 21px;

    width: 64%;
    height: 40px;

    border: 1.5px solid #FFFFFF;
    border-radius: 33px;
}

.detailsEncomenda::placeholder {
    color: rgba(255, 255, 255, 0.658) !important;; 
    opacity: 0.5;/* Firefox */
}

.has-search .form-control {
    padding-left: 2.375rem;
}

.form-control-feedback {
    position:absolute;
    left: 6.5%;
    right: 10%;
    top: 20%;
    bottom: 10%;
    margin-left: 46rem;
    margin-bottom: 5em;
}

#form1Botao{
    width: 100%;
    height: 30px;
}

#iconbotao {
    bottom:20px;
}

.textolight {
    color: white;
}

.textodark {
    color: black;
}

.listaprodutos {
    width: 10em;
    border: 1px black;
    border-style: solid;
    text-align: center;
}

.logo {
    margin-left:15px
}

body{
    background: #ffffff;  /* fallback for old browsers */
    /* background: -webkit-linear-gradient(to right, #2c3e50, #bdc3c7);  Chrome 10-25, Safari 5.1-6 */
    /* background: linear-gradient(to right, #2c3e50, #bdc3c7); W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.form{
    background-color: white;
    border-radius: 5px;
    width: 550px;
    margin: 20px auto;
    padding: 20px;
    /* height: 600px; */
}

.form-body{
    text-align: left;
    padding: 20px 10px;
}

.form-body > *{
    padding: 5px;
}

.form__label{
    width: 40%;
}

.form__input{
    width: 45%;
}

.footer {
    position: relative;
    /* margin-top: 166px; negative value of footer height */
    height: 150px;
    clear:both;
    padding-top:20px;
  }   

.footer, .form-header{
    text-align: center;
}

#produtosbtn {
    padding: 5px;
    margin-left: 1px;
}

#offcanvasItems {
    width:450px;
}

.offcanvas-body {
    padding: 0;
}

.offcanvas {
    position: fixed;
    top: 0;
    bottom: 0;
    z-index: 1040;
    overflow-y: auto;
    overflow-x: hidden;
    visibility: hidden;
    transition: transform 0.3s ease-in-out;
    transform: translateX(-100%);
}
  
.offcanvas.show {
    visibility: visible;
    transform: translateX(0);
}

.modal-backdrop {
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.8);
    z-index: 1030;
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
}

.offcanvas-backdrop {
    display: none !important;
}

.offcanvas-title {
    padding-bottom: 10px;
    padding-top: 10px;
}

.linhaSeparacaoProdutos {
    width: 30em;
    margin-right: 4em;
    text-align: center;
}

/* para o CESTO */

.offcanvas2-body {
    padding: 0;
}

.offcanvas2 {
    position: fixed;
    top: 0;
    bottom: 0;
    z-index: 1040;
    overflow-y: auto;
    overflow-x: hidden;
    visibility: hidden;
    transition: transform 0.3s ease-in-out;
    transform: translateX(-100%);
}
  
.offcanvas2.show {
    visibility: visible;
    transform: translateX(0);
}

.container-fluid {
    padding-left: 0px;
    overflow-x: hidden;
}

.botaoProdutoDropdown {
    width: 26.5em;
    padding-right:0px;
    margin-left:13px;
    text-align: center;
}

#perfilDropdown {
    margin-right: 3.5em;
}


.botaoPerfilDropdown {
    width: -1%;
}



.botaoCart{
    /* display: none;
    position: absolute; */
    background-color: #f9f9f9;
    box-shadow: 0px 8px 16px 0px rgba(0.4,0.4,0.3,0.7);
    padding: 12px 16px;
    z-index: 1;
  
 
    /* left: 50%;
    right: auto;
     */
    position: absolute;
    left: 1800px;
    transform: translateX(-74%) translateY(8%);

    overflow-y:auto;
    max-height: 810px;
    min-width:400px;
    
    /* max-height: 400px;
    max-width:300px; */
}

.carrinhoWrapper{
    overflow-y:auto;
    overflow-x:auto;
    
    
}
.items-carrinho{
    overflow: auto;
    max-height: 580px;
    
}
.carrinho-item{
    display:grid;
    grid-template-columns: 3fr 6fr 1fr;
    padding:5% 2%;
    background-color: #ffffff;
    /* border-style: solid; */
    border-width: 1px;
    border-radius: 5px;
    max-height: 300px;
    margin-bottom: 5px;
}
.carrinho-vazio{
    
    /* background-color: #ffffff; */
    /* border-style: solid; */
    border-width: 1px;
    border-radius: 5px;
    padding-top: 50px;
    padding-left: 29%;
    height: 100px;
    margin-bottom: 5px;
}
.carrinho-item img{
    width: 100%;
    padding-right: 30px;
}

.cancel{
    padding-left: 0px;
    
    
}

/* .card-img-top{
    float: center;
    max-height: 250px;
    object-fit: center;
   
} */

.cardP-body{
    overflow-x: hidden;
}
  
  .card {
    flex: 0 0 300px;
    margin: 10px;
    height: 520px !important;
  }
  


  
  .img-fluid {
    height: 280px;
    object-fit: contain;
    width: auto;
  }
  

.btn-checkout:hover{
    border-color: #000000;
}

.stepsEncomenda {
    margin-left: auto;
    margin-right: auto;
}
/* .containerProduto{
    min-height: 300px;
    max-height: 300px;
    width: auto;
} */

/* .crop {
    height: 250px;
    width: auto;
    overflow: hidden;
}
.crop img {
    height: auto;
    width: 250px;
} */

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.6);
    z-index: 1;
    display: none;
  }
  
  .dropdown-wrapper:hover .dropdown-content {
    display: block;
  }
  
  .dropdown-wrapper:hover .overlay {
    display: block;
  }



@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

* {
    font-family: 'Poppins', sans-serif;
}

.container {
    margin: 50px auto;
}
.filters {
    text-align: left;
  }

.panel-heading {
    text-align: center;
    margin-bottom: 10px;
}

#forgot {
    min-width: 100px;
    margin-left: auto;
    text-decoration: none
}

a:hover {
    text-decoration: none
}

.form-inline label {
    padding-left: 10px;
    margin: 0;
    cursor: pointer
}

.panel {
    min-height: 380px;
    box-shadow: 20px 20px 80px rgb(218, 218, 218);
    border-radius: 12px;
    position: relative;
    right: 60px;
}

.input-field {
    border-radius: 5px;
    padding: 5px;
    display: flex;
    align-items: center;
    cursor: pointer;
    border: 1px solid #ddd;
    /* color: #4343ff */
    color: white
}

input[type='text'],
input[type='tel'],
input[type='number'],
select,
input[type='password'] {
    border: none;
    outline: none;
    box-shadow: none;
    width: 100%
}

.fa-eye-slash.btn {
    border: none;
    outline: none;
    box-shadow: none
}

#loginimg {
    width: 40px;
    height: 40px;
    object-fit: cover;
    border-radius: 50%;
    position: relative
}

a[target='_blank'] {
    position: relative;
    transition: all 0.1s ease-in-out;
  }
  
  .bordert {
    border-top: 1px solid #aaa;
    position: relative;
  }
  
  .bordert:after {
    content: "or connect with";
    position: absolute;
    top: -13px;
    left: 33%;
    background-color: #fff;
    padding: 0px 8px;
  }
  
  .btn-xl {
    padding: 0;
    height: 140px;
    width: 140px;
    border-radius: 50%;
    margin: 20px;
    border: none;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease 0s;
    cursor: pointer;
    outline: none;
    font-size: 0;
  }

  
  .btn-xl:hover {
    box-shadow: 0px 15px 20px rgba(53, 52, 52, 0.4);
    /* color: #ffffff; */
    transform: translateY(-7px);
    /* font-size: 16px; */
  }
  

  .scrollmenu {
    white-space: nowrap;
    background-color: #F2F4F5;
    overflow-y: hidden;
    cursor: grab;
    flex-wrap: nowrap;
    transition: transform 0.3s ease; /* Add a transition for smooth sliding */
  }
  
  .scrollmenu:hover {
    cursor: grabbing; /* Change cursor to a grabbing hand when dragging */
  }
  
  .scrollmenu.dragging {
    cursor: grabbing; /* Change cursor to a grabbing hand when actively dragging */
  }
  
  .scrollmenu .row {
    flex-wrap: nowrap;
  }
  .btn-toolbar{
    display: block;
  }

/* .scrollmenu .btn-xl{
    display: inline-block;
} */

/* #buttons_header{
    display: inline-block;
} */

.butaoBLA{
    /* background-image: url("https://ae01.alicdn.com/kf/H9bcc7fb7e08e4842a77427fabfe599e9j/100cm-djungelskog-urso-marrom-brinquedo-de-pel-cia-macio-animal-de-pel-cia-gigante-mr-boss.jpg_Q90.jpg_.webp");; */
    background-size: contain;
    background-position: 40px 20px 65px;   
    text-align: center;
}

#butao1{
    background-image: url("https://ae01.alicdn.com/kf/H9bcc7fb7e08e4842a77427fabfe599e9j/100cm-djungelskog-urso-marrom-brinquedo-de-pel-cia-macio-animal-de-pel-cia-gigante-mr-boss.jpg_Q90.jpg_.webp");;
    background-size: contain;
    background-position: 40px 20px 65px;
    
    
}
#butao2{
    background-image: url('../images/bebe.jpg');
    background-size: contain;
    background-position: 40px 20px 65px;
    text-align: center;
    padding:3.1em;
    
}

#butao3{
    background-image: url('../images/desporto.jpg');
    background-size: contain;
    background-position: 40px 20px 65px;
    text-align: center;
    padding:2.1em;
}

#butao4{
    background-image: url('../images/animais.jpg');
    background-size: contain;
    background-position: 40px 20px 65px;
    text-align: center;
    padding:2.4em;
}

#butao5{
    background-image: url('../images/beleza.jpg');
    background-size: contain;
    background-position: 40px 20px 65px;
    text-align: center;
    padding:1.8em;
}

#butao6{
    background-image: url('../images/bricolagem.jpg');
    background-size: contain;
    background-position: 40px 20px 65px;
    text-align: center;
    padding:1.5em;
}

#butao7{
    background-image: url('../images/telemovel.jpg');
    background-size: contain;
    background-position: 40px 20px 65px;
    text-align: center;
    padding:1.2em;
}

#butao8{
    background-image: url('../images/informatica.jpg');
    background-size: contain;
    background-position: 40px 20px 65px;
    text-align: center;
    padding:1.2em;
}

#butao9{
    background-image: url('../images/decoracao.jpg');
    background-size: contain;
    background-position: 40px 20px 65px;
    text-align: center;
    padding:1.5em;
}
#butao10{
    background-image: url('../images/jardim.jpg');
    background-size: contain;
    background-position: 40px 20px 65px;
    text-align: center;
    padding:1.5em;
}
#butao11{
    background-image: url('../images/comando.jpg');
    background-size: contain;
    background-position: 40px 20px 65px;
    text-align: center;
    padding:1.5em;
}
#butao12{
    background-image: url('../images/tv.jpg');
    background-size: contain;
    background-position: 40px 20px 65px;
    text-align: center;
    padding:1.5em;
}

#butao13{
    background-image: url('../images/lego.jpg');
    background-size: contain;
    background-position: 40px 20px 65px;
    text-align: center;
    padding:1.7em;
}

#butao14{
    background-image: url('../images/wm.jpg');
    background-size: contain;
    background-position: 40px 20px 65px;
    text-align: center;;
    padding:0em;
}

#butao15{
    background-image: url('../images/camera.jpg');
    background-size: contain;
    background-position: 40px 20px 65px;
    text-align: center;
    padding:1.7em;
}

#butao16{
    background-image: url('../images/livros.jpg');
    background-size: contain;
    background-position: 40px 20px 65px;
    text-align: center;
    padding:1.7em;
}

#butaoPerfil{
    background-image: url('../images/user2.jpg');
    background-size: contain;
    background-position: 40px 20px 70px;
    text-align: center;
    padding:1.7em;
}

/* #butao1:hover, #butao2:hover, #butao3:hover, #butao4:hover, #butao5:hover, #butao6:hover, #butao7:hover, #butao8:hover, #butao9:hover, #butao10:hover, #butao11:hover,#butao12:hover, #butao13:hover, #butao14:hover, #butao15:hover{
    background-image:none;
} */

.cor_header{
    background-color: #F2F4F5;
}

.height_header{
    height: 200px;
    
}

.button-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    height: 100%;
  }
  
  .button-container .btn {
    margin-bottom: 10px;
  }
  
  .button-name {
    font-size: 14px;
  }
  

#inputQuantity{
    max-width: 3rem;
}

.relatedItemSale{
    top: 0.5rem; 
    right: 0.5rem;
}

@media(max-width: 360px) {
    #forgot {
        margin-left: 0;
        padding-top: 10px
    }

    body {
        height: 100%
    }

    .container {
        margin: 30px 0
    }

    .bordert:after {
        left: 25%
    }
    
}

.quantidade_cart{
    height:25px;
    width:25px;
   
}

.quantidade_atualizar{
    padding-left: 5px;
}
.container_cart{
    width: 100%;
    padding-right: 50px;
    padding-left: 30px;
    /* margin-right: 15px; */
    margin-left: 15px;
    margin-top:80px;
    
}


.custom-card{
    height: 550px;;
}

.container {
    display: flex;
    flex-direction: column;
    min-height: 100%;
    padding-bottom: 150px; /* Adjust this value based on your footer height */
  }
  
  .cardP {
    flex: 1;
  }
.barra-container {
    display: flex;
    align-items: center;
    flex-direction: column;
  }
  
  .barra {
    width: 400px;
    height: 20px;
    background-color: #e0e0e0;
    position: relative;
    cursor: pointer;
  }
  
  .bola {
    width: 20px;
    height: 20px;
    background-color: #ff4081;
    border-radius: 50%;
    position: absolute;
    top: -10px;
    transform: translateX(-50%);
  }
.barra-container {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.barra {
border-radius: 10px;
  width: 280px;
  height: 20px;
  background-color: #e0e0e0;
  position: relative;
  cursor: pointer;
}

.bola {
  width: 20px;
  height: 20px;
  background-color: rgb(53, 52, 52);
  border-radius: 50%;
  position: absolute;
  top: -1px;
  transform: translateX(-50%);
}
  

/* Css do Date Range do relatorio de encomendas */
.react-datepicker {
    /* font-family: Arial, sans-serif; */
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 4px;
    padding: 5px;
  }
  
  .react-datepicker__header {
    background-color: #f0f0f0;
    border-bottom: none;
    padding: 10px;
    text-align: center;
  }
  
  .react-datepicker__month {
    margin: 0;
  }
  
  .react-datepicker__day-names {
    margin-top: 10px;
  }
  
  .react-datepicker__day-name {
    color: #999;
  }
  
  .react-datepicker__day {
    cursor: pointer;
    padding: 10px;
  }
  
  .react-datepicker__day:hover {
    background-color: #f0f0f0;
  }
  
  .react-datepicker__day--selected {
    background-color: #0099ff;
    color: #fff;
  }
  
  .react-datepicker__day--disabled {
    cursor: default;
    color: #999;
  }
  
  .react-datepicker__input-container {
    display: inline-block;
  }
  
  .react-datepicker__input-container input {
    width: 110px;
    padding: 5px;
    border-radius: 4px;
    border: 1px solid #ccc;
  }

  .label_date{
    transform: translateY(20%);
  }
  
  

  .card-height{
    height: 620px;
}

.autosuggest-wrapper {
    border: 1px solid #ccc;
    padding: 5px;
    border-radius: 4px;
    width: 200px;
  }

  .output_categories{
    border: 1px solid #ccc;
    padding: 20px;
    border-radius: 4px;
  }

  .delete_category_button {
    display: none;
    
  }
  
  .category_span:hover .delete_category_button {
    display: inline-block;
    width: 20px;
    height: 20px;

    font-size:10px;
  }
  
  .produtos-vendidos-scrollbar {
    
    max-height: 300px; 
    overflow-y: auto; 
  }
  
  .card_record_c{
    background-color: white;
  }

  .custom-tooltip {
    background-color: white;
    padding: 10px;
    border: 1px solid black;
  }
  
  
  
  