html, body {
    min-height: 100%;
}

.navbar-height {
    height: 80px;
}

.center {
    margin: auto;
    width: 40%;
    padding: 10px;
}

#imglogo {
    height:50px;
    width: 50px;
}

#imgNome{
    height: 19px;
    position: relative;
    /* bottom: 3px; */
}

#form1Search{
    /* margin-left: 140px;
    height: 40px;
    width: 800px; */
    box-sizing: border-box;
    position: absolute;
    margin-left: 90px;
    margin-top: 21px;

    width: 71%;
    height: 40px;

    border: 1.5px solid #FFFFFF;
    border-radius: 33px;
}

.has-search .form-control {
    padding-left: 2.375rem;
}

.form-control-feedback {
    position:absolute;
    left: 10%;
    right: 25.62%;
    top: 20%;
    bottom: 50.62%;
    margin-left: 48rem;
    margin-bottom: 5em;
}

#form1Botao{
    width: 100%;
    height: 30px;
}

#iconbotao {
    bottom:20px;
}

.textolight {
    color: white;
}

.textodark {
    color: black;
}

.listaprodutos {
    width: 10em;
    border: 1px black;
    border-style: solid;
    text-align: center;
}

.logo {
    margin-left:15px
}

body{
    background: #ffffff;  /* fallback for old browsers */
    /* background: -webkit-linear-gradient(to right, #2c3e50, #bdc3c7);  Chrome 10-25, Safari 5.1-6 */
    /* background: linear-gradient(to right, #2c3e50, #bdc3c7); W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.form{
    background-color: white;
    border-radius: 5px;
    width: 550px;
    margin: 20px auto;
    padding: 20px;
    /* height: 600px; */
}

.form-body{
    text-align: left;
    padding: 20px 10px;
}

.form-body > *{
    padding: 5px;
}

.form__label{
    width: 40%;
}

.form__input{
    width: 45%;
}

.footer, .form-header{
    text-align: center;
}

#produtosbtn {
    padding: 5px;
    margin-left: 1px;
}

#offcanvasItems {
    width:450px;
}

.offcanvas-body {
    padding: 0;
}

.offcanvas {
    position: fixed;
    top: 0;
    bottom: 0;
    z-index: 1040;
    padding-top: 1rem;
    overflow-y: auto;
    overflow-x: hidden;
    visibility: hidden;
    transition: transform 0.3s ease-in-out;
    transform: translateX(-100%);
}
  
.offcanvas.show {
    visibility: visible;
    transform: translateX(0);
}

.modal-backdrop {
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.8);
    z-index: 1030;
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
}

.offcanvas.show + .offcanvas-backdrop {
    opacity: 1;
}

@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

* {
    font-family: 'Poppins', sans-serif
}

.container {
    margin: 50px auto
}

.panel-heading {
    text-align: center;
    margin-bottom: 10px
}

#forgot {
    min-width: 100px;
    margin-left: auto;
    text-decoration: none
}

a:hover {
    text-decoration: none
}

.form-inline label {
    padding-left: 10px;
    margin: 0;
    cursor: pointer
}

.panel {
    min-height: 380px;
    box-shadow: 20px 20px 80px rgb(218, 218, 218);
    border-radius: 12px
}

.input-field {
    border-radius: 5px;
    padding: 5px;
    display: flex;
    align-items: center;
    cursor: pointer;
    border: 1px solid #ddd;
    /* color: #4343ff */
    color: white
}

input[type='text'],
input[type='tel'],
input[type='number'],
select,
input[type='password'] {
    border: none;
    outline: none;
    box-shadow: none;
    width: 100%
}

.fa-eye-slash.btn {
    border: none;
    outline: none;
    box-shadow: none
}

#loginimg {
    width: 40px;
    height: 40px;
    object-fit: cover;
    border-radius: 50%;
    position: relative
}

a[target='_blank'] {
    position: relative;
    transition: all 0.1s ease-in-out
}

.bordert {
    border-top: 1px solid #aaa;
    position: relative
}

.bordert:after {
    content: "or connect with";
    position: absolute;
    top: -13px;
    left: 33%;
    background-color: #fff;
    padding: 0px 8px
}

.btn-xl {
    padding: 50px;
    width:10%;
    display:block;
    height: 140px;
    width: 140px;
    border-radius: 50%;
    margin:20px 20px 20px 20px; 
    border: none;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease 0s;
    cursor: pointer;
    outline: none;
    font-size: 0;
}

.btn-xl:hover {
    box-shadow: 0px 15px 20px rgba(53, 52, 52, 0.4);
    color: #ffffff;
    transform: translateY(-7px);
    font-size: 16px;
    
}

div.scrollmenu {
    overflow: auto;
    white-space: nowrap;
    background-color: #F2F4F5;
    overflow-y:hidden;
}

div.scrollmenu .btn-xl {
    display: inline-block;
}

#buttons_header{
    display: inline-block;
}

#butao1{
    background-image: url("https://ae01.alicdn.com/kf/H9bcc7fb7e08e4842a77427fabfe599e9j/100cm-djungelskog-urso-marrom-brinquedo-de-pel-cia-macio-animal-de-pel-cia-gigante-mr-boss.jpg_Q90.jpg_.webp");;
    background-size: contain;
    background-position: 40px 20px 65px;
    
    
}
#butao2{
    background-image: url('../images/bebe.jpg');
    background-size: contain;
    background-position: 40px 20px 65px;
    text-align: justify;
    padding:3.1em;
    
}

#butao3{
    background-image: url('../images/desporto.jpg');
    background-size: contain;
    background-position: 40px 20px 65px;
    text-align: justify;
    padding:2.1em;
}

#butao4{
    background-image: url('../images/animais.jpg');
    background-size: contain;
    background-position: 40px 20px 65px;
    text-align: justify;
    padding:2.4em;
}

#butao5{
    background-image: url('../images/beleza.jpg');
    background-size: contain;
    background-position: 40px 20px 65px;
    text-align: justify;
    padding:2.7em;
}

#butao6{
    background-image: url('../images/bricolagem.jpg');
    background-size: contain;
    background-position: 40px 20px 65px;
    text-align: justify;
    padding:1.5em;
}

#butao7{
    background-image: url('../images/telemovel.jpg');
    background-size: contain;
    background-position: 40px 20px 65px;
    text-align: center;
    padding:1.2em;
}

#butao8{
    background-image: url('../images/decoracao.jpg');
    background-size: contain;
    background-position: 40px 20px 65px;
    text-align: center;
    padding:1.5em;
}
#butao9{
    background-image: url('../images/jardim.jpg');
    background-size: contain;
    background-position: 40px 20px 65px;
    text-align: center;
    padding:1.5em;
}
#butao10{
    background-image: url('../images/comando.jpg');
    background-size: contain;
    background-position: 40px 20px 65px;
    text-align: center;
    padding:1.5em;
}
#butao11{
    background-image: url('../images/tv.jpg');
    background-size: contain;
    background-position: 40px 20px 65px;
    text-align: center;
    padding:1.5em;
}

#butao12{
    background-image: url('../images/lego.jpg');
    background-size: contain;
    background-position: 40px 20px 65px;
    text-align: center;
    padding:1.7em;
}

#butao13{
    background-image: url('../images/wm.jpg');
    background-size: contain;
    background-position: 40px 20px 65px;
    text-align: center;;
    padding:0em;
}

#butao14{
    background-image: url('../images/camera.jpg');
    background-size: contain;
    background-position: 40px 20px 65px;
    text-align: center;
    padding:1.7em;
}

#butao15{
    background-image: url('../images/livros.jpg');
    background-size: contain;
    background-position: 40px 20px 65px;
    text-align: center;
    padding:1.7em;
}

#butao1:hover, #butao2:hover, #butao3:hover, #butao4:hover, #butao5:hover, #butao6:hover, #butao7:hover, #butao8:hover, #butao9:hover, #butao10:hover, #butao11:hover,#butao12:hover, #butao13:hover, #butao14:hover, #butao15:hover{
    background-image:none;
}

.cor_header{
    background-color: #F2F4F5;
}
.height_header{
    height: 183px;
    
}

@media(max-width: 360px) {
    #forgot {
        margin-left: 0;
        padding-top: 10px
    }

    body {
        height: 100%
    }

    .container {
        margin: 30px 0
    }

    .bordert:after {
        left: 25%
    }
}

