html, body {
    min-height: 100%;
}

.navbar-height {
    height: 80px;
}

.center {
    margin: auto;
    width: 40%;
    padding: 10px;
}

#imglogo {
    height:50px;
    width: 50px;
}

#imgNome{
    height: 19px;
    position: relative;
    /* bottom: 3px; */
}

#form1Search{
    /* margin-left: 140px;
    height: 40px;
    width: 800px; */
    box-sizing: border-box;
    position: relative;

    width: 800px;
    height: 40px;

    border: 1.5px solid #FFFFFF;
    border-radius: 33px;
}

.has-search .form-control {
    padding-left: 2.375rem;
}

.form-control-feedback {
    position: absolute;
    left: 12.5%;
    right: 14.62%;
    top: 32.5%;
    bottom: 14.62%;
    margin-left: 41.5rem;
}

#form1Botao{
    height: 30px;
}

#iconbotao {
    bottom:20px;
}

.textolight {
    color: white;
}

.textodark {
    color: black;
}

.listaprodutos {
    width: 10em;
    border: 1px black;
    border-style: solid;
    text-align: center;
}

.logo {
    margin-left:15px
}

body{
    background: #bdc3c7;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #2c3e50, #bdc3c7);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #2c3e50, #bdc3c7); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.form{
    background-color: white;
    border-radius: 5px;
    width: 550px;
    margin: 20px auto;
    padding: 20px;
    /* height: 600px; */
}

.form-body{
    text-align: left;
    padding: 20px 10px;
}

.form-body > *{
    padding: 5px;
}

.form__label{
    width: 40%;
}

.form__input{
    width: 45%;
}

.footer, .form-header{
    text-align: center;
}

@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

* {
    font-family: 'Poppins', sans-serif
}

.container {
    margin: 50px auto
}

.panel-heading {
    text-align: center;
    margin-bottom: 10px
}

#forgot {
    min-width: 100px;
    margin-left: auto;
    text-decoration: none
}

a:hover {
    text-decoration: none
}

.form-inline label {
    padding-left: 10px;
    margin: 0;
    cursor: pointer
}

.panel {
    min-height: 380px;
    box-shadow: 20px 20px 80px rgb(218, 218, 218);
    border-radius: 12px
}

.input-field {
    border-radius: 5px;
    padding: 5px;
    display: flex;
    align-items: center;
    cursor: pointer;
    border: 1px solid #ddd;
    /* color: #4343ff */
    color: white
}

input[type='text'],
input[type='password'] {
    border: none;
    outline: none;
    box-shadow: none;
    width: 100%
}

.fa-eye-slash.btn {
    border: none;
    outline: none;
    box-shadow: none
}

#loginimg {
    width: 40px;
    height: 40px;
    object-fit: cover;
    border-radius: 50%;
    position: relative
}

a[target='_blank'] {
    position: relative;
    transition: all 0.1s ease-in-out
}

.bordert {
    border-top: 1px solid #aaa;
    position: relative
}

.bordert:after {
    content: "or connect with";
    position: absolute;
    top: -13px;
    left: 33%;
    background-color: #fff;
    padding: 0px 8px
}

@media(max-width: 360px) {
    #forgot {
        margin-left: 0;
        padding-top: 10px
    }

    body {
        height: 100%
    }

    .container {
        margin: 30px 0
    }

    .bordert:after {
        left: 25%
    }
}
