@import url("https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap");
body {
	background: #f9f9f9;
	font-family: "Roboto", sans-serif;
}

#imagemPerfil{
    background-image: url('../images/user2.jpg');
}

.shadow {
	box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1) !important;
}

.profile-tab-nav {
	min-width: 250px;
}

.tab-content {
	flex: 1;
}

.form-group {
	margin-bottom: 1.5rem;
}

.nav-pills a.nav-link {
	padding: 15px 20px;
	/* border-bottom: 1px solid #ddd; */
	border-bottom: 1px solid black;
	border-radius: 0;
	/* color: #333; */
	color: white;

}
.nav-pills a.nav-link i {
	width: 20px;
}


.img-circle img {
	/* background-image: url('../images/user2.jpg'); */
	height: 100%;
	width: 100%;
	border-radius: 100%;
	border: 5px solid #fff;
}

label, h4, h3, p{
	color: #f9f9f9;
}

.botaoPerfil{
	width: auto;
}


.botaoRemover:hover{
	background-color: red !important;
	color: white !important;
}
